{% extends "base.html" %}

{% load staticfiles %}


{% block content %}
    <script>console.log("Boop");</script>

    <canvas id="HexCanvas" style="width: 500px; height: 500px; position: absolute; left: 50; top: 50; z-index: 0;"></canvas>
Game ID: {{ game.id }}
Players: {{ game.players }}
    asdasdasdas
<script src="{% static 'jquery-3.1.1.min.js' %}" type="text/javascript"></script>
<script>
    var hex = {};
    hex.rows = {{ map.rows }};
    hex.cols = {{ map.columns }};

    {% for tile in tiles %}

    {% endfor %}
</script>
<script src="{% static 'hexagon.js' %}" type="text/javascript"></script>

{% endblock content %}