<div class="panel panel-default">
    <div class="panel-body">
        <div class="controls" id="fortify">
            <div class="btn-group" data-resize="auto">
                Transfer:
                <select id="transfer"></select> Units.
            </div>
            <br>
            <button type="button" class="btn btn-success" id="transfer_button">Move</button>
            <button type="button" class="btn btn-danger" id="transfer_max_button">Move(max)</button>
        </div>
    </div>
</div>